<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>addBucket</servlet-name>
        <servlet-class>servlets.bucket.AddBucketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBucket</servlet-name>
        <url-pattern>/addBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exitPage</servlet-name>
        <servlet-class>servlets.account.ExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exitPage</servlet-name>
        <url-pattern>/exitPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>introAut</servlet-name>
        <servlet-class>servlets.auth.IntroAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>introAut</servlet-name>
        <url-pattern>/introAuth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>introReg</servlet-name>
        <servlet-class>servlets.reg.IntroRegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>introReg</servlet-name>
        <url-pattern>/introReg</url-pattern>
    </servlet-mapping>

    <!--  ADMIN  -->

    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>servlets.users.UsersServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addAdmin</servlet-name>
        <servlet-class>servlets.users.AdminRegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAdmin</servlet-name>
        <url-pattern>/addAdmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProd</servlet-name>
        <servlet-class>servlets.store.ProdAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProd</servlet-name>
        <url-pattern>/addProd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>prodList</servlet-name>
        <servlet-class>servlets.store.AllProdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>prodList</servlet-name>
        <url-pattern>/allProd</url-pattern>
    </servlet-mapping>

    <!-- AUTH FILTER-->

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filters.AuthFilter</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>introAut</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>introReg</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>exitPage</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>addBucket</servlet-name>
    </filter-mapping>


    <!-- USER-TYPE FILTER-->

    <filter>
        <filter-name>UserTypeFilter</filter-name>
        <filter-class>filters.UserTypeFilter</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>UserTypeFilter</filter-name>
        <servlet-name>introAut</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserTypeFilter</filter-name>
        <servlet-name>addAdmin</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserTypeFilter</filter-name>
        <servlet-name>users</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserTypeFilter</filter-name>
        <servlet-name>addProd</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserTypeFilter</filter-name>
        <servlet-name>prodList</servlet-name>
    </filter-mapping>


    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>utf-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

</web-app>