body {
    margin: 0;
    font-size: 15px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.container_1 {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/*--Header-- */

.header_inner {
    text-align: center;
}

.header_text {
    font-size: 35px;
    text-align: center;
    margin: 29px 0 32px 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

.header_logo {
    user-select: none;
    width: 230px;
    margin-bottom: 29px;
    margin-top: 18px;
}

/* --Navigation-- */

.nav {
    text-align: center;
    text-transform: uppercase;
}

.nav.fixed {
    top: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.880);
    backdrop-filter: blur(4px);
    width: 1250px;
    padding: 19px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.832);
}

.container_1.wid {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.nav_link {
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    padding: 0 48px 0 48px;
    opacity: 0.75;
    color: black;
    transition: opacity .1s linear;
}

.nav_link_2 {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    padding: 0 48px 0 48px;
    opacity: 0.75;
    color: #cc7a00;
    text-decoration: underline #cc7a00 1px;
    transition: opacity .1s linear;
}

.nav_link_2:hover {
    color: black;
    transition: 0.7s;
    text-decoration: underline black 1px;
}

.nav_link:hover {
    color: #cc7a00;
    transition: 0.5s;
    text-decoration: underline #cc7a00 1px;
}

.pre_intro {
    margin-top: 30px;
    width: 1170px;
    border-bottom: 15px solid #cc8100;
    border-right: 15px solid rgba(255, 255, 255, 0);
    /* border-left: 15px solid rgba(255, 255, 255, 0); */
    margin-left: auto;
    margin-right: auto;
}

.intro {
    width: 1170px;
    height: 407px;
    background-color: #cc8100;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}


.logo_img {
    user-select: none;
    width: 292px;
    height: 365px;
    border-radius: 12px;
    margin: 12px 45px 30px 27px;
}

.logo_text {
    font-size: 20px;
    margin-left: 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    padding-top: 48px;
    padding-right: 60px;
    margin-top: 0;
    cursor: default;
}

.logo_text_1 {
    
    font-size: 18px;
    margin-left: 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    padding-top: 38px;
    padding-right: 60px;
    cursor: default;
}



/* --Basic-- */

.basic_text {
    font-size: 18px;
    text-align: center;
    margin: 30px 0 30px 0;
    padding: 5px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #000000;
    text-transform: uppercase;
}

.basic_pic {
    text-align: center;
}

.basic_img {
    user-select: none;
    height: 344px;
    border-radius: 12px;
    text-align: center;
    position: relative;
    transition: filter .1s linear;
}

.basic_itm {
    cursor: pointer;
    display: inline-block;
    height: 344px;
    border-radius: 10px;
    margin: 4px 4px 4px 4px;
    position: relative;
}

.basic_itm .itm_text {
    height: 344px;
    border-radius: 12px;
    text-align: center;

    padding: 160px 10px;

    font-size: 21px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    opacity: 0;
    position: absolute;
    transition: .18s linear;
    width: 100%;
    top: 100%;
    color: #fff;
    transform: translate(0%, -100%);
}



.basic_itm:hover .itm_text {
    opacity:1;
    background-color: #00000062;
}


.exh_pic {
    user-select: none;
    margin-right: 120px;
    margin-top: 27px;
    width: 440px;
    border-radius: 12px;
    margin-left: 27px;
}

.exh_text {
    font-size: 26px;
    margin-left: 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    padding-top: 85px;
    padding-right: 60px;
    padding-bottom: 21px;
    cursor: default;
}

.exh_text_1 {
    font-size: 19px;
    margin-left: 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    padding-top: 0;
    padding-right: 60px;
    cursor: default;
}

.exh_text_2 {
    font-size: 19px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    padding-left: 27px;
    padding-top: 0;
    padding-right: 60px;
    cursor: default;
}

.exh_img {
    text-align: center;
    display: inline-block;
    height: 276px;
    margin: 20px auto 22px auto;
}

.basic_inner {
    height: 380px;
    width: auto;
}

.basic_inner_2 {
    height: 120px;
    width: auto;
}


.store_img {
    user-select: none;
    height: 296px;
    border-radius: 12px;
    margin: 4px;
    transition: filter .1s linear;
}

.store_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
}



.block {
    margin: 3px;
    flex-basis: calc(100% / 3 - 6px);
    height: 376px;
    text-align: center;
    display: inline-block;
}

.block_2 {
    margin: 3px 3px;
    flex-basis: calc(100% / 3 - 6px);
    height: 357px;
    text-align: center;
    display: inline-block;
}

.block_img {
    height: 276px;
    border-radius: 12px;
    cursor: default;
}

.product {
    cursor: pointer;
    font-size: 17px;
    width: fit-content;
    height: 25px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background-color: #00000095;
    margin: -7px auto 0;
    color: #fff;
    border: none;
    padding: 1px 25px 0 25px;
}

.product:hover {
    background-color: #cc8100;
    color: #fff;
    transition: 0.08s linear;
}

.price {
    cursor: default;
    font-size: 14px;
    width: 21%;
    height: 21px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background-color: #cc8100;
    margin: 5px auto;
    padding-top: 1px;
    color: #fff;
}

.exh_name {
    cursor: pointer;
    font-size: 17px;
    width: 86%;
    height: 25px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.75);
    margin: 4px auto 0;
    padding-top: 1px;
    color: #fff;
    border: none;
}

.exh_name:hover {
    background-color: #cc8100;
    color: #fff;
    transition: 0.08s linear;
}


.footer {
    margin-top: 13px;
}

.footer_img {
    user-select: none;
    height: 540px;
    margin-top: -1px;
    background: url(../img/other/nuke_4.jpg);
}

.footer_inner {
    display: flex;
}

.footer_title_text {
    text-transform: uppercase;
    cursor: default;
    width: 287px;
    display: flex;
    justify-content: left;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fff;
    background-color: #cc7a00;
    margin-left: 5px;
    padding-left: 5px;
}

.footer_main_text {
    text-decoration: none;
    color: black;
    width: 210px;
    display: flex;
    justify-content: left;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    margin-bottom: 7px;
    margin-top: 7px;
    margin-left: 17px;
}

.footer_main_text:hover {
    color: #cc7a00;
    transition: 0.7s;
    cursor: pointer;
}

.footer_block {
    margin-top: 10px;
    padding-top: 18px;
    height: 250px;
    width: 60%;
}

.block_2_img {
    user-select: none;
    margin-top: 10px;
    margin-left: 202px;
    padding: 0 0;
    height: 219px;
    opacity: 50%;
}

.footer_block_2 {
    margin-top: 10px;
    padding-top: 11px;
    height: 250px;
    width: 40%;
}



.change-photos {
    text-align: center;
    display: inline-block;
    height: 276px;
    margin: 20px auto 22px auto;
}
.change-photos .change-photo img {
    object-fit: cover;
    border-radius: 12px;
}
  
.change-photos .change-photo:nth-of-type(2) {
    display: none;
}
  
  
.change-photos:hover .change-photo:nth-of-type(1) {
    display: none;
}
  
.change-photos:hover .change-photo:nth-of-type(2) {
    display: block;
}
  
.change-photos:hover {
    cursor: default;
}


.exhs {
    margin-top: 10px;
    display: flex;
    width: 1170px;
    height: 372px;
    border-bottom: 2px rgba(0, 0, 0, 0.175) solid;
}

.exh_block {
    width: 40%;
    height: 372px;
    display: flex;
}

.exh_info {
    width: 60%;
    display: block;
}

.info_block_1 {
    width: 100%;
    height: 80px;
    padding: 10px 3px 10px 0;
    margin-bottom: 24px;
}

.info_block_2 {
    width: 100%;
    height: 260px;
    padding: 10px 3px 10px 0;

}

.exh_img {
    cursor: default;
    height: 285px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    border-radius: 12px;
}

.exh_title_1 {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: white;
    margin: 10px 0 10px 7px;
    background-color: #00000095;
    width: fit-content;
    padding-left: 7px;
    border: none;
    text-align: left;
    padding-right: 11px;
}

.exh_title_1:hover {
    background-color: #cc8100;
    color: #fff;
    transition: 0.08s linear;
}

.exh_title_2 {
    cursor: default;
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: white;
    margin: 10px 0 10px 7px;
    background-color: #00000095;
    width: 11%;
    padding-left: 7px;
}

.info_text {
    cursor: default;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    margin: 5px 0 5px 7px;
    padding-left: 7px;
    width: fit-content;
    background-color: #00000060;
    color: white;
    padding-right: 11px;
}

.about {
    cursor: default;
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: black;
    margin: 5px 0 5px 7px;
}